<section class="container">
  <hr>
  <form [formGroup]="userForm" (ngSubmit)="getDataForm()">
    <!-- Nombre -->
    <div class="mb-3">
      <label for="first_name" class="form-label">Nombre</label>
      <input 
        type="text" 
        id="first_name" 
        class="form-control" 
        formControlName="first_name" 
        placeholder="Introduce tu nombre">
      @if(checkControl('first_name', 'required')){
        <p class="text-danger small">El campo es obligatorio</p>
        }
    </div>

    <!-- Apellido -->
    <div class="mb-3">
      <label for="last_name" class="form-label">Apellido</label>
      <input 
        type="text" 
        id="last_name" 
        class="form-control" 
        formControlName="last_name" 
        placeholder="Introduce tu apellido">
      @if(checkControl('last_name', 'required')){
        <p class="text-danger small">El campo es obligatorio</p>
        }
    </div>

    <!-- Nombre de Usuario -->
    <div class="mb-3">
      <label for="username" class="form-label">Nombre de Usuario</label>
      <input 
        type="text" 
        id="username" 
        class="form-control" 
        formControlName="username" 
        placeholder="Introduce tu nombre de usuario">
        @if(checkControl('username', 'required')){
          <p class="text-danger small">El campo es obligatorio</p>
          }
    </div>

    <!-- Email -->
    <div class="mb-3">
      <label for="email" class="form-label">Correo Electrónico</label>
      <input 
        type="email" 
        id="email" 
        class="form-control" 
        formControlName="email" 
        placeholder="Introduce tu correo electrónico">
        @if(checkControl('email', 'required')){
          <p class="text-danger small">El campo es obligatorio</p>
          }
          
        @if(checkControl('email', 'pattern')){
        <p class="text-danger small">El email debe ser válido</p>
        }
    </div>

    <!-- Imagen (URL) -->
    <div class="mb-3">
      <label for="image" class="form-label">Imagen (URL)</label>
      <input 
        type="url" 
        id="image" 
        class="form-control" 
        formControlName="image" 
        placeholder="Introduce la URL de la imagen">
        @if(checkControl('image', 'required')){
          <p class="text-danger small">El campo es obligatorio</p>
          }
          
        @if(checkControl('image', 'pattern')){
        <p class="text-danger small">La url debe ser válida</p>
        }
    </div>

    <!-- Botón de Enviar -->
    <button type="submit" class="btn btn-primary mt-3" [disabled]="userForm.invalid">
      {{text}}
    </button>
  </form>
</section>
