<div class="container mt-5">
    <div class="row align-items-center">
      <!-- Imagen de usuario -->
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <img src="{{user.image}}" alt="Imagen de usuario" class="img-fluid rounded-circle" style="max-width: 100%; height: auto;">
      </div>
  
      <!-- Línea divisoria -->
      <div class="col-1 d-none d-md-block">
        <div class="border-start" style="height: 100%;"></div>
      </div>
  
      <!-- Información del usuario -->
      <div class="col-12 col-md-5">
        <h3>Datos del Usuario</h3>
        <ul class="list-unstyled">
          <li><strong>Nombre:</strong> {{user.first_name.toLocaleUpperCase()}} {{user.last_name.toLocaleUpperCase()}}</li>
          <li><strong>Nombre de Usuario:</strong> {{user.username}}</li>
          <li><strong>Correo Electrónico:</strong> {{user.email}}</li>
        </ul>
        <app-buttons [user]="user" (deleteItemEmit)="deleteUser($event)" [volver]="true"></app-buttons>
      </div>
    </div>
  </div>
  